@import "tailwindcss";
@plugin "daisyui" {
  themes: cyberpunk;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Proxima Soft";
  src: url("../public/fonts/ProximaSoft-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Soft";
  src: url("../public/fonts/ProximaSoft-SemiBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Soft";
  src: url("../public/fonts/ProximaSoft-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Proxima Soft", sans-serif;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 6px;
  height: 30px;
}

::-webkit-scrollbar-track {
  background: #1a1b23;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #af1aff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #af1aff;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #af1aff #1a1b23;
}
